.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}
.fade.in {
    opacity: 1;
}
.modal {
    bottom: 0;
 left: 0;
    outline: 0 none;
 position: fixed;
    right: 0;
    top: 0;
    z-index: 1050;
}
.fade {
transition: opacity 0.15s linear 0s;
}
.modal.in .modal-dialog {
    transform: translate(0px, 0px);
}
.modal.fade .modal-dialog {
 transition: transform 0.3s ease-out 0s;
}
.modal-dialog {
    margin: 30px auto;
    width: 600px;
}
.modal-dialog {
    position: relative;
}
.modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.modal-content {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
 outline: 0 none;
    position: relative;
}
.modal-header {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
 background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}
button, input, select, textarea {
    font-family: inherit;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
.modal-body {
    padding: 15px;
    position: relative;
}
.col-md-6 {
    width: 50%;
}

element.style {
    margin-bottom: 1px;
}
*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.form-group {
    margin-bottom: 15px;
}
.col-md-6 {
    width: 50%;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}
label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
    max-width: 100%;
}
.col-md-4 {
    width: 33.3333%;
}
.checkbox-inline, .radio-inline {
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    margin-bottom: 0;
padding-left: 20px;
    position: relative;
    vertical-align: middle;
}
label {
max-width: 100%;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin-left: -20px;
    position: absolute;
}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}
button, input, optgroup, select, textarea {
    color: inherit;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
input[type="checkbox"], input[type="radio"] {
    line-height: normal;
    margin: 4px 0 0;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
}
button, input, optgroup, select, textarea {
    color: inherit;
}
.modal-footer {
    border-top: 1px solid #e5e5e5;
    padding: 15px;
    text-align: right;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    color: #fff;
}
.btn {
    -moz-user-select: none;
    background-image: none;
border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
button, input, select, textarea {
    font-family: inherit;
}
button, input, select, textarea {
    font-family: inherit;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
.modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}
